.env
.DS_Store
.vscode
script/workout_migrations/*
node_modules/
NOTES.md
BACKUP/
venv/

# client side
client/node_modules/

# server side
__pycache__/
server/db.sqlite3
server/static/
server/staticfiles/