.env
.DS_Store
.vscode
node_modules/
NOTES.md
BACKUP/
venv/

# client side
client/node_modules/
client/coverage/
client/.env.development
client/.env.production

# server side
__pycache__/
server/db.sqlite3
server/static/
server/staticfiles/